.wrap-title {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px;

  .title-value {
    margin: 0;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
  }
}
.hidden {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  top: -1px;
  width: 1px;
  height: 1px;
  font-size: 0;
}