.contents-youtube {
  .wrap-iframe {
    position: relative;
    margin-top: 12px;
    padding-top: 56.25%;

    &:first-of-type {
      margin-top: 0;
    }
    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.contents-html {
  margin-top: 12px;

  img {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
  }
}
.contents-comment {
  margin-top: 12px;
  padding: 12px;
  color: #fff;
  background-color: #004099;
  // background-color: rgba(#004099, .2);

  .count {
    font-size: 20px;
  }
}
.comment-list {
  .v-list-item {
    border-top: 1px solid #eee;
    padding-right: 76px;

    &:first-of-type {
      border-top-width: 0;
    }
    .wrap-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      width: 76px;
      height: 100%;
      box-sizing: border-box;

      .v-btn {
        margin-top: 4px;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}
.comment-write {
  margin-bottom: 20px;
  padding: 12px;
  color: #fff;
  background-color: #004099;
  
  .v-input__control {
    textarea {
      color: #fff !important;
    }
    .v-label {
      color: rgba(#fff, .5) !important;
    }
    .v-counter {
      color: rgba(#fff, .7);
    }
  }
}